body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
}

a {
    text-decoration: none;
}

.box {
    font-size: 20px;
    color: silver;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: royalblue;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}